<template name="card">
  <div class="card-container {{#unless count}}empty-pile{{/unless}}">
    <div class="card-thumbnail">
      <img src="{{static_image top_card.image}}" width="29" height="46" class="card" data-name="{{name}}" />
      <div class="card-tooltip">
        <img src="{{static_image top_card.image}}" width="220" height="341" />
      </div>
    </div>

    <div class="card-details">
      ${{top_card.coin_cost}}
      {{#each times top_card.potion_cost}}
        &oplus;
      {{/each}}
      {{#if top_card.debt_cost}}
        <span class="debt">${{top_card.debt_cost}}</span>
      {{/if}}
      <br />
      <span class="remaining">({{count}})</span>
    </div>

    <div class="card-name">
      {{#each tokens}}
        <span class="{{color}} token">{{text}}</span>
      {{/each}}
      {{#if victory_tokens}}
        <span class="token">{{victory_tokens}}x&nabla;</span>
      {{/if}}
      {{#if debt_tokens}}
        <span class="debt token">{{debt_tokens}}x$</span>
      {{/if}}
      {{#if bane}}
        <span class="bane">&diams;</span>&nbsp;
      {{/if}}
      {{#if obelisk}}
        <span class="obelisk">&jfr;</span>&nbsp;
      {{/if}}
      <span class="stack-name">{{stack_name}}</span>
      {{#if has_trade_route_token}}
        <span class="trade-token">$</span>&nbsp;
      {{/if}}
      {{#if embargos}}
        {{#each times embargos}}
          <span class="embargo-token">&oslash;</span>
        {{/each}}
      {{/if}}
    </div>
  </div>
</template>
