<template name="choose_options">
  <strong>{{{instructions}}}</strong>
  <form id="turn-event">
    <div class="checkbox">
      {{#each options}}
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="choice-{{value}}" value="{{value}}" />
          <label class="form-check-label" for="choice-{{value}}">{{{text}}}</label>
        </div>
      {{/each}}
    </div>
    <button type="submit" id="turn-event-button" class="btn btn-primary btn-xs">Choose</button>
  </form>
</template>
