<template name="choose_cards">
  <strong>{{{instructions}}}</strong>
  <form id="turn-event">
    <div class="checkbox">
      {{#each cards}}
        <label for="card_{{@index}}">
          <input type="checkbox" id="card_{{@index}}" value="{{@index}}" />
          {{#if ../game_cards}}
            <span class="{{top_card.types}}{{#if show_images}} choose-card{{/if}}">{{top_card.name}}</span>
          {{else}}
            <span class="{{types}}{{#if ../show_images}} choose-card{{/if}}">{{name}}</span>{{#if source}} ({{source}}){{/if}}
            {{#if ../show_images}}
              <div class="card-tooltip">
                <img src="http://images.mudbugmedia.com/dominion/images/cards/{{image}}.jpg" width="220" height="341" />
              </div>
            {{/if}}
          {{/if}}
        </label>
      {{/each}}
    </div>
    <br class="clear" />
    <button type="submit" id="turn-event-button" class="btn btn-primary btn-xs">Choose</button>
  </form>
</template>
