<template name="choose_yes_no">
  <strong id="instructions">{{{instructions}}}</strong>
  <form id="turn-event">
    <div class="checkbox">
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="yes-choice" value="yes" />
        <label class="form-check-label" for="yes-choice">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="no-choice" value="no" />
        <label class="form-check-label" for="no-choice">No</label>
      </div>
    </div>
    <button type="submit" id="turn-event-button" class="btn btn-primary btn-xs">Choose</button>
  </form>
</template>
