<template name="druid_boon">
  <div class="boon-container">
    <div class="boon-thumbnail">
      <img src="http://images.mudbugmedia.com/dominion/images/cards/{{image}}.jpg" width="46" height="29" class="card" data-name="{{name}}" />
      <div class="card-tooltip">
        <img src="http://images.mudbugmedia.com/dominion/images/cards/{{image}}.jpg" width="341" height="220" />
      </div>
    </div>

    <div class="boon-details"></div>

    <div class="boon-name">
      <span class="stack-name">{{name}}</span>
    </div>
  </div>
</template>
