<template name="event">
  <div class="event-container">
    <div class="event-thumbnail">
      <img src="{{static_image image}}" width="46" height="29" class="card" data-name="{{name}}" />
      <div class="card-tooltip">
        <img src="{{static_image image}}" width="341" height="220" />
      </div>
    </div>

    <div class="event-details">
      ${{coin_cost}}
      {{#if debt_cost}}
        <span class="debt">${{debt_cost}}</span>
      {{/if}}
    </div>

    <div class="event-name">
      {{name}}
    </div>
  </div>
</template>
