<template name="game_over">
  <br />
  <strong>Winner(s):</strong> {{winners}}
  <br />
  <br />
  {{#each scores}}
    <strong>{{username}}</strong>: &nbsp;&nbsp;{{points}} Points ({{turns}} turns)
    <br />
    <br />
    {{#if victory_tokens}}
      <strong>Victory Tokens:</strong> {{victory_tokens}}
      <br />
    {{/if}}
    {{#each point_cards}}
      <strong>{{name}}</strong> x {{count}} {{#if point_variable}}({{point_variable}}){{/if}}
      <br />
    {{/each}}
    <br />
  {{/each}}
</template>
