<template name="game_over">
  <div id="game-over">
    <strong>Winner(s): {{{winners}}}</strong>
    <br />
    <br />
    {{#each scores}}
      <strong>{{{username}}}</strong>: &nbsp;&nbsp;{{points}} Points ({{turns}} turns)
      <br />
      {{#if victory_tokens}}
        <strong>Victory Tokens:</strong> {{victory_tokens}}
        <br />
      {{/if}}
      <strong>Victory Cards:</strong>
      {{#each point_cards}}
        <span class="{{types}}">{{name}}</span> x {{count}} {{#if point_variable}}({{point_variable}}){{/if}}&nbsp;
      {{/each}}
      <br />
      {{#if landmark_cards}}
        <strong>Landmarks:</strong>
        {{#each landmark_cards}}
          <span class="{{types}}">{{name}}</span> ({{point_variable}})&nbsp;
        {{/each}}
        <br />
      {{/if}}
      <strong>Deck Breakdown:</strong>
      {{#each deck_breakdown}}
        <span class="{{types}}">{{name}}</span> x {{count}}&nbsp;&nbsp;
      {{/each}}
      <br />
      <br />
    {{/each}}
  </div>
</template>
