<template name="game_info">
  {{#if game.black_market_deck}}
    Black Market:
    {{#each game.black_market_deck}}
      <span class="{{types}} black-market-card">{{name}}</span>
      <div class="card-tooltip">
        <img src="{{static_image image}}" width="220" height="341" />
      </div>
    {{/each}}
    <br />
    <br />
  {{/if}}
  {{#if game.prizes}}
    Prizes:
    {{#each game.prizes}}
      <span class="{{types}} prize-card">{{name}}</span>
      <div class="card-tooltip">
        <img src="{{static_image image}}" width="220" height="341" />
      </div>
    {{/each}}
    <br />
    <br />
  {{/if}}
  {{#if game.trade_route_tokens}}
    Trade Route Tokens:
    {{#each times game.trade_route_tokens}}
      <span class="trade-token">$</span>
    {{/each}}
    <br />
    <br />
  {{/if}}
  Trash:
  {{#each game.trash}}
    <span class="{{types}} trash-card">{{name}}</span>
    <div class="card-tooltip">
      <img src="{{static_image image}}" width="220" height="341" />
    </div>
  {{/each}}
  <br />
  <br />
  {{#if player_cards.native_village}}
    Native Village:
    {{#each player_cards.native_village}}
      <span class="{{types}} native-village-card">{{name}}</span>
      <div class="card-tooltip">
        <img src="{{static_image image}}" width="220" height="341" />
      </div>
    {{/each}}
    <br />
    <br />
  {{/if}}
  {{#if player_cards.archive}}
    Archive:
    {{#each player_cards.archive}}
      <span class="{{types}} archive-card">{{name}}</span>
      <div class="card-tooltip">
        <img src="{{static_image image}}" width="220" height="341" />
      </div>
    {{/each}}
    <br />
    <br />
  {{/if}}
  {{#if player_cards.crypt}}
    Crypt:
    {{#each player_cards.crypt}}
      <span class="{{types}} crypt-card">{{name}}</span>
      <div class="card-tooltip">
        <img src="{{static_image image}}" width="220" height="341" />
      </div>
    {{/each}}
    <br />
    <br />
  {{/if}}
  {{#each public_info}}
    <strong class="{{color}}">{{username}}</strong><br />
    Score: {{points}}
    <br />
    {{#if villagers}}
      Villagers: {{villagers}}
      <br />
    {{/if}}
    <br />
    {{#if coin_tokens}}
      Coin Tokens: {{coin_tokens}}
      <br />
    {{/if}}
    {{#if debt_tokens}}
      Debt Tokens: {{debt_tokens}}
      <br />
    {{/if}}
    {{#if victory_tokens}}
      Victory Tokens: {{victory_tokens}}
      <br />
    {{/if}}
    {{#if pirate_ship_coins}}
      Pirate Ship Coins: {{pirate_ship_coins}}
      <br />
    {{/if}}
    {{#if island}}
      Island:
      {{#each island}}
        <span class="{{types}} island-card">{{name}}</span>
        <div class="card-tooltip">
          <img src="{{static_image image}}" width="220" height="341" />
        </div>
      {{/each}}
      <br />
    {{/if}}
    {{#if journey_token}}
      Journey Token: Face {{journey_token}}
      <br />
    {{/if}}
    {{#if minus_coin}}
      -$1 Token
      <br />
    {{/if}}
    {{#if minus_card}}
      -1 Card Token
      <br />
    {{/if}}
    {{#if estate}}
      Estate Token: <span class="{{estate.types}}">{{estate.name}}</span>
      <br />
    {{/if}}
    {{#if tavern}}
      Tavern:
      {{#each tavern}}
        <span class="{{types}} tavern-card">{{name}}</span>
        <div class="card-tooltip">
          <img src="{{static_image image}}" width="220" height="341" />
        </div>
      {{/each}}
      <br />
    {{/if}}
    {{#if states}}
      States:
      {{#each states}}
        <span class="{{types}} state-card">{{name}}</span>
        <div class="card-tooltip">
          <img src="{{static_image image}}" width="341" height="220" />
        </div>
      {{/each}}
      <br />
    {{/if}}
    {{#if artifacts}}
      Artifacts:
      {{#each artifacts}}
        <span class="{{types}} artifact-card">{{name}}</span>
        <div class="card-tooltip">
          <img src="{{static_image image}}" width="341" height="220" />
        </div>
      {{/each}}
      <br />
    {{/if}}
    <br />
  {{/each}}
</template>
