<template name="game">

  <div class="row">

    <!-- Kingdom Cards -->
    <div class="col-md-2" id="kingdom-cards">
      {{#each game.kingdom_cards}}
        {{> card}}
      {{/each}}
    </div>

    <!-- Common Cards -->
    <div class="col-md-1" id="common-cards">
      {{#each game.common_cards}}
        {{> card}}
      {{/each}}
    </div>

    <div class="col-md-6" id="game-area">
      <div id="game-log">
        {{#each game.log}}
          {{> log}}
        {{/each}}
      </div>

      {{#if game.finished}}
        <div id="finished-game">
          {{#with game}}
            {{> game_over}}
          {{/with}}
        </div>
      {{else}}
        <div id="action-area">
          <div id="turn-status">
            {{#with game.turn}}
              {{> turn_status}}
            {{/with}}
          </div>
          <div id="game-info">
            {{#with player_cards}}
              {{> deck}}
            {{/with}}
          </div>
          {{#unless turn_event}}
            {{#unless pending_players}}
              <div id="turn-actions">
                {{#with game.turn}}
                  {{> turn_actions}}
                {{/with}}
              </div>
            {{/unless}}
          {{/unless}}
        </div>
        <br class="clear" />
        <div id="action-response">
          {{#if turn_event}}
            {{> UI.dynamic template=turn_event.type data=turn_event}}
          {{else}}
            {{#if pending_players}}
              Waiting on {{{pending_players}}}...
            {{/if}}
          {{/if}}
        </div>
        <div id="hand">
          {{#each player_cards.hand}}
            {{> hand_card}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <br class="clear" />
  <pre id="game-chat"></pre>
  <form id="chat" action="">
    <input id="message" class="form-control" autocomplete="off">
  </form>
  {{#if currentUser.admin}}
    <br />
    <button id="destroy-game" class="btn btn-danger btn-xs">Destroy Game!!</button>
    <button id="test-game" class="btn btn-danger btn-xs">Make Test Game</button>
    <div>Test Game Message: {{test_games.message}}</div>
  {{/if}}

  <div id='info-modal' class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Game Info</h3>
        </div>
        <div class="modal-body" id="extra-info">
          {{> game_info game=game player_cards=player_cards public_info=public_info}}
        </div>
      </div>
    </div>
  </div>

</template>
