<template name="turn_actions">
  <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#game-info-modal">Info</button>

  {{#unless ../pending_players}}
    {{#if my_turn}}
      {{#if ../game.previous_state}}
          <button id="undo-action" class="btn btn-xs btn-dark">Undo</button>
      {{/if}}
      {{#if allow_treasures}}
        <button id="play-all-coin" class="btn btn-xs btn-warning">$</button>
      {{/if}}
      <button id="end-turn" class="btn btn-danger btn-xs">End Turn</button>
    {{/if}}
  {{/unless}}
</template>
