<template name="playersShow">
{{#with player}}
  <h2>{{username}}</h2>
  <h3>Win Ratio: {{win_ratio}}%</h3>
  <h3>Wins: {{wins}}</h3>
  <h3>Losses: {{losses}}</h3>
  <br />
  <h3>Performance Against Opponents</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Win Ratio</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {{#each opponents}}
        <tr>
          <td>{{username}}</td>
          <td>{{win_ratio}}%</td>
          <td>{{wins}}</td>
          <td>{{losses}}</td>
          <td><a href="/players/{{username}}">View</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <h3>Game History</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Players</th>
        <th>Winner</th>
        <th>View</th>
        <th>Cards</th>
      </tr>
    </thead>
    <tbody>
      {{#each games}}
        <tr>
          <td>{{created_at}}</td>
          <td>
            {{#each players}}
              <a href="/players/{{username}}">{{username}}</a>
            {{/each}}
          </td>
          <td>{{winners}}</td>
          <td><a href="/game_history/{{_id}}">View</a></td>
          <td>
            {{#each card_list}}
              <span class="lobby-card {{types}}">{{name}}</span>
              <div class="card-tooltip">
                {{#if wide}}
                  <img src="{{static_image image}}" width="341" height="220" />
                {{else}}
                  <img src="{{static_image image}}" width="220" height="341" />
                {{/if}}
              </div>
            {{/each}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{> pagination}}
{{/with}}
</template>
