version: "3.4"
services:
  mongo:
    image: mongo:3.2
    volumes:
      - db:/data/db
      - configdb:/data/configdb
  meteor:
    depends_on:
      - mongo
    environment:
      PORT: 3000
      MONGO_URL: mongodb://mongo:27017
volumes:
  db:
  configdb:
