$card_height: 46px;
$event_height: 29px;
$debt_color: #a94442;

body {
  overflow-y: scroll;
}

.token {
  font-size: 7pt;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

#game-over {
  margin-top: 20px;
}

.card-container {
  clear: both;
  height: $card_height;
  padding-bottom: $card_height + 5px;
}

.card-container.empty-pile .card-name span.stack-name {
  text-decoration: line-through;
}

.card-container.empty-pile .remaining {
  color: red;
}

.card-container.empty-pile img.card {
  opacity: 0.4;
}

.card-container div {
  float: right;
}

.card-name {
  height: $card_height;
}

.card-name span {
  display: inline-block;
  margin-top: 10px;
  padding: 1px;
}

.card-details {
  text-align: center;
  padding-left: 8px;
  padding-right: 5px;
  line-height: 15px;
  padding-top: 5px;
}

.event-container, .landmark-container {
  height: $event_height;
  padding-bottom: $event_height + 5px;
}

.event-container > div, .landmark-container > div {
  float: right;
}

.event-details, .landmark-details {
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 15px;
  padding-top: 7px;
}

.card-tooltip {
  display: none;
  z-index: 10000;
}

.remaining {
  color: lightblue;
}

#game-log {
  height: 250px;
  margin-bottom: 20px;
  overflow: auto;
}

#hand {
  padding-top: 5px;
  margin-bottom: 100px;
}

#hand ul {
  float: left;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}

#hand .hand-card li {
  position: relative;
  height: 20px;
}

#game-info {
  font-size: 10pt;
}

#draw-pile img {
  margin-right: -3px;
}

#discard-pile img {
  margin-right: -4px;
}

#action-area div {
  float: left;
}

#turn-status {
  padding-right: 10px;
}

#turn-actions {
  margin-left: 10px;
}

#play-coin-token, #play-debt-token {
  line-height: 1;
  padding: 1px;
}

#game-chat {
  height: 100px;
  overflow: auto;
}

#game-chat, #message {
  margin-left: auto;
  margin-right: auto;
}

#turn-event label {
  display: inline;
  float: left;
  margin-right: 5px;
}

#turn-event .checkbox {
  margin-top: -8px;
}

#turn-event-button {
  margin-top: 5px;
}

#sortable-cards>div {
  float: left;
}

.ordered {
  margin: 5px;
}

.bane {
  background-color: plum;
}

.trade-token {
  background-color: gold;
}

.embargo-token {
  background-color: crimson;
}

.modal-body {
  height: 600px;
}

.pagination span {
  cursor: pointer;
}

.pagination span {
  cursor: pointer;
}

.btn-debt {
  background-color: $debt_color;
  border-color: $debt_color;
}

.debt {
  color: $debt_color;
}
