<template name="layout">
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Dominion</a>
    {{#if currentUser}}
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">Welcome {{currentUser.username}}!</a></li>
          {{#if currentUser.admin}}
            <li class="nav-item"><a class="nav-link" href="/accounts">Accounts</a></li>
            <li class="nav-item"><a class="nav-link" href="/active_games">Games</a></li>
          {{/if}}
          <li class="nav-item"><a class="nav-link" href="/game_history">Game History</a></li>
          <li class="nav-item"><a class="nav-link" href="/players">Players</a></li>
          <li class="nav-item"><a class="nav-link js-logout">Logout</a></li>
        </ul>
      </div>
    {{/if}}
  </nav>
  <main role="main" class="container-fluid">
    <div class="starter-template">
      {{> yield}}
    </div>
  </main>
  <script type="text/javascript">
    $(function() {
      $('body').popover({
        selector: '.card-container .card-image, .event-container .card-image, .project-container .card-image, .hand-card, .prize-card, .state-card, .native-village-card, .haven-card, .cargo-ship-card, .church-card, .archive-card, .research-card, .crypt-card, .island-card, .tavern-card, .exile-card, .state-card, .artifact-card, .trash-card, .black-market-card, .choose-card, .landmark-container .card-image, .boon-container .card-image, #game-log span.card-image, #instructions .card-image, #action-response .card-image, #action-response span.boon, #action-response span.hex, .lobby-card',
        html: true,
        content: function() {
          return $(this).next('.card-tooltip').html()
        },
        trigger: 'hover'
      })
    })
  </script>
</template>
