<head>
  <link rel="icon" type="image/png" href="/favicon.png">
  <title>Dominion</title>
</head>
<template name="layout">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Dominion</a>
    {{#if currentUser}}
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Welcome {{currentUser.username}}!</a></li>
          {{#if currentUser.admin}}
            <li><a href="/accounts">Accounts</a></li>
            <li><a href="/active_games">Games</a></li>
          {{/if}}
          <li><a href="/game_history">Game History</a></li>
          <li><a href="/players">Players</a></li>
          <li><a class="js-logout btn-secondary">Logout</a></li>
        </ul>
      </div>
    {{/if}}
  </nav>
  <main role="main" class="container">
    <div class="starter-template">
      {{> yield}}
    </div>
  </main>
</template>
