$action: lightgrey;
$event: silver;
$landmark: #00b300;
$victory: lightgreen;
$reaction: lightblue;
$treasure: gold;
$curse: violet;
$duration: orange;
$night: grey;
$shelter: salmon;
$ruins: burlywood;
$reserve: #cdb332;
$busy: grey;
$player_margin: 25px;

@mixin gradient($from, $to) {
  background-image: linear-gradient(bottom, $to 50%, $from 50%);
  background-image: -o-linear-gradient(bottom, $to 50%, $from 50%);
  background-image: -moz-linear-gradient(bottom, $to 50%, $from 50%);
  background-image: -webkit-linear-gradient(bottom, $to 50%, $from 50%);
  background-image: -ms-linear-gradient(bottom, $to 50%, $from 50%);
}

#lobby-container {
  margin-left: auto;
  margin-right: auto;
}

#players label, #card-sets label {
  display: inline;
  float: left;
  margin-right: $player_margin;
}

hr {
  margin-top: 50px;
}

#propose-game {
  margin-top: 10px;
}

.busy {
  color: $busy;
  margin-right: $player_margin;
}

.lobby-card {
  padding: 3px;
  text-transform: capitalize;
}

.lobby-card.attack {
  color: #BB0000;
}

.action {
  background-color: $action;
}

.reserve {
  background-color: $reserve;
}

.victory {
  background-color: $victory;
}

.reaction {
  background-color: $reaction;
}

.duration {
  background-color: $duration;
}

.night {
  background-color: $night;
  color: white;
}

.treasure {
  background-color: $treasure;
}

.boon {
  background-color: $treasure;
}

.curse {
  background-color: $curse;
}

.ruins {
  background-color: $ruins;
}

.event {
  background-color: $event;
}

.landmark {
  background-color: $landmark;
}

.action.victory {
  @include gradient($action, $victory);
}

.treasure.victory {
  @include gradient($treasure, $victory);
}

.action.treasure {
  @include gradient($action, $treasure);
}

.treasure.reserve {
  @include gradient($treasure, $reserve);
}

.victory.reserve {
  @include gradient($reserve, $victory);
}

.shelter.reaction {
  @include gradient($shelter, $reaction);
}

.treasure.reaction {
  @include gradient($treasure, $reaction);
}

.action.shelter {
  @include gradient($action, $shelter);
}

.shelter.victory {
  @include gradient($shelter, $victory);
}

.victory.reaction {
  @include gradient($victory, $reaction);
}

.duration.reaction {
  @include gradient($duration, $reaction);
}

.duration.night {
  @include gradient($duration, $night);
}

#lobby-chat {
  height: 300px;
  overflow: auto;
}
